*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    --Maincolor: #009688;
}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}

.circle-100{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.circle-200{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

body{
    height: 100vh;
    flex-direction: column;
}

.arrow{
    height: 70px;
    width: 500px;
    background-color: #ddd;
    margin: 20px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.arrow::after{
    content: "";
    position: absolute;
    border: solid 20px transparent;
   
}

.arrow.top::after{
    top: -40px;
    right: 50%;
    border-bottom-color: #DDD;
}
.arrow.right::after{
    right: -40px;
    border-left-color: #DDD;
}
.arrow.bottom::after{
    bottom: -40px;
    right: 50%;
    border-top-color: #DDD;
}
.arrow.left::after{
    left: -40px;
    border-right-color: #DDD;
}